<!-- 
<refresh-panel load="$ctrl.refreshPosts" title="Refresh Posts"></refresh-panel>
-->
<ul class="posts-panel__toolbar">
    <li class="posts-panel__toolbar-item">
        <label class="posts-panel__toolbar-label">Sort:</label>

        <select class="posts-panel__toolbar-select" ng-change="$ctrl.updateSorting()" ng-model="$ctrl.sortCriteria">
            <option value="">None</option>
            <option value="ascending">Title Ascending</option>
            <option value="descending">Title Descending</option>
        </select> 
    </li>
    <li class="posts-panel__toolbar-item">
        <label class="posts-panel__toolbar-label">Group:</label>

        <select class="posts-panel__toolbar-select" ng-change="$ctrl.updateGrouping()" ng-model="$ctrl.groupCriteria">
            <option value="">None</option>
            <option value="user">User</option>
        </select> 
    </li>
</ul>

<div class="posts-panel__content">
    <ul class="posts-list" ng-if="$ctrl.groupCriteria !== 'user'">
        <li class="post-card" ng-repeat="post in $ctrl.posts | orderBy: $ctrl.sortProperty:$ctrl.reverse track by post.id">
            <div class="post-card__title">{{:: post.title }}</div>
            <div class="post-card__username">{{:: post.user.username }}</div>
        </li>
    </ul>

    <ul class="posts-list" ng-repeat="(username, posts) in $ctrl.posts | orderBy: $ctrl.sortProperty:$ctrl.reverse | groupBy: 'userId' track by username" ng-if="$ctrl.groupCriteria === 'user'">
        <h3 class="post-card__username-title">{{:: posts[0].user.username }}</h3>
        
        <li class="post-card" ng-repeat="post in posts track by post.id">
            <div class="post-card__title">{{:: post.title }}</div>
        </li>
    </ul>
</div>