$breakpoint-sm = 480px
$breakpoint-md = 768px
$breakpoint-lg = 960px
$breakpoint-xl = 1200px
$container-width = 1140px

$color-primary = #387295
$color-secondary = #f1f1f1
$font-family-primary = 'Bitter', 'Georgia', serif
$font-family-alt = 'Open Sans', 'Helvetica', sans-serif

$text-primary = #387295