.audio-panel

    &__button
        background: #457B9D
        color: #fff
        font-size: 16px
        font-family: 'Roboto', 'sans-serif'
        border: none
        padding: 12px 30px

    .audio-sample-list
        margin: 0
        padding: 0
        list-style-type: none

        &__item
            border: 1px solid #C9E5EA
            padding: 0
            margin: 0 0 10px