.audio-player
    background: #fff
    display: block
    margin: 0
    padding: 10px
    position: relative
    overflow: hidden

    &__container
        display: flex
        flex: 1
        justify-content: space-between
        align-items: center
        position: relative

    &__timer
        background: #C9E5EA
        position: absolute
        top: 0
        bottom: 0
        left: 0

    .material-icons
        color: #457B9D
        font-size: 40px
        cursor: pointer